.profile {
	position: relative;
	background: transparent;
	z-index: 1;
}

.no-image {
	background: url('/img/no-image.jpg') no-repeat 0 0;
}

.shadowed {
	box-shadow: 0 0 5px #000;
}

.bordered {
	border: solid 2px #000;
}

.rounded {
	border-radius: 50%;
}

.circleBadge:after {
	position: absolute;
	right: 20px; top: 20px;
	background: blue;
	border-radius: 50%;
	z-index: 2;
}